<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Provisión de Indemnización</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Provisionar Indemización</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">Run</ion-col>
                    <ion-col size="4">Nombre</ion-col>
                    <ion-col size="4">Valor</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">1-9</ion-col>
                    <ion-col size="4">Trabajador 1</ion-col>
                    <ion-col size="4">$2.400.000</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2-7</ion-col>
                    <ion-col size="4">Trabajador 2</ion-col>
                    <ion-col size="4">$2.400.000</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">3-5</ion-col>
                    <ion-col size="4">Trabajador 3</ion-col>
                    <ion-col size="4">$2.400.000</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>