<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cálculo de Vacaciones en Días</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Cálculo de Vacaciones</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="3">Run</ion-col>
                    <ion-col size="3">Nombre</ion-col>
                    <ion-col size="3">Dias Usados</ion-col>
                    <ion-col size="3">Dias Disponibles</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">1-9</ion-col>
                    <ion-col size="3">Trabajador 1</ion-col>
                    <ion-col size="3">0</ion-col>
                    <ion-col size="3">15</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">2-7</ion-col>
                    <ion-col size="3">Trabajador 2</ion-col>
                    <ion-col size="3">5</ion-col>
                    <ion-col size="3">10</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3">3-5</ion-col>
                    <ion-col size="3">Trabajador 3</ion-col>
                    <ion-col size="3">15</ion-col>
                    <ion-col size="3">0</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>