<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pantalla Principal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Trabajador</ion-card-title>
            <ion-card-subtitle>Cargo</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-img [src]="'assets/img/logo.png'"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>