<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reporte de Asistencia</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Reporte Asistencia</ion-card-title>
            <ion-card-subtitle>Histórico</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">Año</ion-col>
                    <ion-col size="4">Mes</ion-col>
                    <ion-col size="4">Porcentaje</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2019</ion-col>
                    <ion-col size="4">Febrero</ion-col>
                    <ion-col size="4">20%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2019</ion-col>
                    <ion-col size="4">Enero</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Diciembre</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Noviembre</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Octubre</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Septiembre</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Agosto</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Julio</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Junio</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Mayo</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Abril</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Marzo</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Febrero</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">2018</ion-col>
                    <ion-col size="4">Enero</ion-col>
                    <ion-col size="4">100%</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>