<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Horario Trabajador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Horario de Trabajador</ion-card-title>
            <ion-card-subtitle>Jueves</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-item color="secondary">
                <ion-icon name="alarm" slot="start"></ion-icon>
                <ion-label>Ingreso </ion-label>
                <ion-label>08:00</ion-label>
            </ion-item>
            <ion-item color="danger">
                <ion-icon name="airplane" slot="start"></ion-icon>
                <ion-label>Salida </ion-label>
                <ion-label>16:00</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Semana</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="4">Dias</ion-col>
                    <ion-col size="4">Ingreso</ion-col>
                    <ion-col size="4">Salida</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Lunes</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Martes</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Miercoles</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Jueves</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Viernes</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Sabado</ion-col>
                    <ion-col size="4">08:00</ion-col>
                    <ion-col size="4">16:00</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">Domingo</ion-col>
                    <ion-col size="4">Libre</ion-col>
                    <ion-col size="4">Libre</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>