<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Reporte de Excepciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Reporte Excepciones</ion-card-title>
            <ion-card-subtitle>Mes</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-label text-wrap>En este sector se desplegarán los reportes de Excepción</ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>